.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, var(--sage), var(--water), var(--petal), var(--bloom));
  transform-origin: 0%;
  z-index: 9999;
}
